body {
    font-family: 'Roboto', sans-serif;
    background-color: #002438;
}

.block {
    color: #F30543;
    background-color: #2D090D;
    border: 1px solid #6C0016;
    margin: auto;
    margin-top: 13%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 9px;
    height: 320px;
    width: 320px;
}

.data-layer { 
    color: #00273b;
    font-size: 14px;
    position: fixed;
    top: 270px;
    left: 20px;
    z-index: -1;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

ul {
    color: #C10238;
    list-style-type: circle;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a:link {
    color: #C10238;
}

a:visited {
    font-style: italic;
    color: #7e0024;
}