
/* © WMU HUB */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);


html, body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}


.tło {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(20deg, #000000fa, #1d1d1dfa);
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
}

.tło-img {
    height: auto;
    max-width: 2000px;
    min-width: 1780px;
    transform: rotate(-10deg) translate(30%, -45%);
    position: absolute;
    top: 60%;
    right: 50%;
    opacity: 0.01;
}



.btn {
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1rem;
    cursor: pointer;
    color:#fff;
    background: #1c1c24;
    border-radius: 15px;
    animation: btn 1s infinite;
    text-decoration: none;
}

.btn:hover {
    background-color: #1beca6;
}

@keyframes btn {
    
    0% {
        box-shadow: 0 0 0 0px #1c1c24;
        transform: scale(1);
    }  70% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
        transform: scale(1);
    } 100% {
        box-shadow: 0 0 0 15px rgba(255,255,255,0);
        transform: scale(1);
    }
}


h1 {
    font-size: calc(2vw + 30px);
}

h2 {
    color: white;
    font-size: calc(2vw + 18px);
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    
}

h4 {
    color: white;
    font-size: calc(0.5vw + 12px);
    font-weight: 500;
    margin-top: 0;
    opacity: 0.7;
    margin-bottom: 0;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg-video {
    height: 120%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.l-s {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main-text {
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    margin-bottom: 0;
    text-shadow: 0 0 12px black;
}

.main-text-h2 {
    font-size: calc(0.5vw + 15px);
    font-weight: 500;
    color: white;
    text-shadow: 0 0 12px black;
    margin-top: 0;
    text-transform: none;
    margin-bottom: 1rem;
}




.team {
    width: 100%;
    height: auto;
    z-index: 2;
    margin-bottom: 5rem;
    margin-top: 5rem;
    position: relative;
}

.team-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.text-an {
    font-size: 50px;
    font-weight: 800;
    outline: none;
    text-transform: uppercase;
    background: linear-gradient(135deg, #1284e0 0%, #17cc53 25%, #f18227 50%, #17cc53 75%, #1284e0 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: animate 5s linear infinite;
  }
  @keyframes animate {
    to{
      background-position: 400%;
    }
  }

.team-container-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.team-container-3 {
    width: 33%;
    height: 300px;
    position: relative;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.team-container-3:last-child {
    margin-right: 0;
}

.csgo-bg {
    width: 100%;
    object-position: center;
    object-fit: cover;
    filter: grayscale(1) brightness(0.4);
    transition: all 0.5s;
}

.team-container-3:hover .csgo-bg {
    transform: scale(1.1);
    filter: none;
}

.csgo-logo {
    width: 40%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    filter: drop-shadow(0 0 9px black);
    transform: translate(-50%, -50%);
}
   
  
    
    
.text p {
    font-size: 15px;
    color: white;
    text-align: center;
}


footer {
    width: 100%;
    position: relative;
    bottom: 0;
    
    color: #fff;
    padding: 10px 0 20px;
    font-size: 13px;
    line-height: 20px;
}


hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}





.f-content {
    text-align: center;
}

.f-content a {
    color: #e01257;
    text-decoration: none;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
  
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}





.l-container {
    margin-top: 50px;
  width: 350px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .input-box {
    width: 370px;
    max-width: 90%;
    position: relative;
    
  }
  
  .input-box input {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #1b9fec;
    outline: none;
    color: white;
    background: transparent;
    border-radius: 15px;
  }
  
  #message {
    position: absolute;
    bottom: -30px;
    color: #fff;
    font-size: 15px;
  }
  
  ::placeholder {
    font-size: 15px;
  }
  
  
  .input-box h1 {
   
    margin-top: 5px;
    color: white;
    margin-left: 25%
  }
  
  
  .input-box img {
    margin-left: 150px;
    width: 20%;
    height: 100%;
  }
  
  .input-box p {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    
  }
  
  
  .input-box a {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    
  }
  
  button {
    border: none;
    background-color:#1284e0;
    color: white;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 20px;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    animation: btn 1s infinite;
  }
  
  @keyframes btn {
    
    0% {
        box-shadow: 0 0 0 0px #1284e0;
        transform: scale(1);
    }  70% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
        transform: scale(1);
    } 100% {
        box-shadow: 0 0 0 15px rgba(255,255,255,0);
        transform: scale(1);
    }
  }


  #tabela {      
    text-align: center;
    width: 100%;
  }
  

  
 
  
  #tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    
    
  }

  #tabela td {
      color: white;
      text-align: center;
  }

  #tabela th, a {
      color: white;
      
  }

  /* © WMU HUB */